<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <!-- <link rel="icon" type="image/svg+xml" href="/vite.svg" /> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vite App</title>
  
  <script type="module" crossorigin src="/alura-geek-vanillajs/assets/add-b66b7e0d.js"></script>
  <link rel="modulepreload" crossorigin href="/alura-geek-vanillajs/assets/style-952d8456.js">
  <link rel="modulepreload" crossorigin href="/alura-geek-vanillajs/assets/ProductService-4ab90952.js">
  <link rel="modulepreload" crossorigin href="/alura-geek-vanillajs/assets/CategoryService-5452352c.js">
  <link rel="modulepreload" crossorigin href="/alura-geek-vanillajs/assets/ContactController-aba72802.js">
  <link rel="stylesheet" href="/alura-geek-vanillajs/assets/style-07dc6755.css">
</head>

<body>
  <!--Nav bar-->
  <header class="container mx-auto px-4 py-8 flex items-center justify-between gap-4">
    <a href="/alura-geek-vanillajs/">
      <img src="/alura-geek-vanillajs/images/logo.png" alt="alurageek logo">
    </a>
    <!-- <div class="order-1 md:order-none md:relative">
      <input class="hidden md:block border-none bg-neutral-100 rounded-full py-3 pr-32 pl-4" type="text"
        placeholder="¿Qué deseas buscar?">
      <img class="w-6 hover:cursor-pointer md:absolute md:top-0 md:right-4 md:bottom-0 md:h-full md:object-contain"
        src="/images/search-icon.png" alt="search icon">
    </div> -->
    <a class="py-3 px-4 border border-indigo-600 text-indigo-600 font-bold rounded-sm text-center hover:bg-indigo-800 hover:text-neutral-100"
      href="/alura-geek-vanillajs/views/products.html">Menú Administrador</a>
  </header>
  <!--Nav bar-->

  <section class="container py-16 px-4 mx-auto" data-form-product>
    <h2 class="text-3xl text-center font-bold text-neutral-700" data-form-title></h2>
    <form class="grid mx-auto max-w-lg mt-4" data-add-product>
        <label class="text-sm" for="url">Url imágen</label>
        <input class="border-indigo-600 border-[1px] mt-2 mb-4 rounded-sm p-4" type="url" id="url" placeholder="ej. https://imagen.com/"/>
        
        <label class="text-sm" for="category">categoryegoria</label>
        <select class="border-indigo-600 border-[1px] mt-2 mb-4 rounded-sm p-4" id="category">
          <option value="">--Selecciona Categoria--</option>
        </select>

        <label class="text-sm" for="name">Nombre del producto</label>
        <input class="border-indigo-600 border-[1px] mt-2 mb-4 rounded-sm p-4" type="text" id="name" placeholder="Producto xyz"/>

        <label class="text-sm" for="price">Precio del producto</label>
        <input class="border-indigo-600 border-[1px] mt-2 mb-4 rounded-sm p-4" type="number" id="price" placeholder="Producto xyz"/>

        <label class= "text-sm" for="description">Descripción</label>
        <textarea class="border-indigo-600 border-[1px] rounded-sm mt-2 p-4" id="description" cols="10" rows="5" placeholder="Describe el producto"></textarea>

        <input class="py-3 px-4 text-neutral-100 font-bold rounded-sm bg-indigo-600 mt-4 hover:bg-indigo-800" type="submit" value="Agregar" data-form-submit>
    </form>
  </section>
  
  <footer class="bg-indigo-50">
    <div class="container mx-auto px-4 py-8 md:flex md:justify-evenly ">
      <div class="flex-grow-[1] lg:flex lg:items-start lg:justify-evenly">
        <img class="w-56 mx-auto md:mx-0 lg:w-40" src="/alura-geek-vanillajs/images/logo.png" alt="alurageek logo">
        <ul class="text-center mt-4 md:text-left lg:mt-0">
          <li class="mb-4 last-of-type:mb-0"><a class="text-base" href="#">Quienes Somos</a></li>
          <li class="mb-4 last-of-type:mb-0"><a class="text-base" href="#">Politicas de privacidad</a></li>
          <li class="mb-4 last-of-type:mb-0"><a class="text-base" href="#">Programa de fidelidad</a></li>
          <li class="mb-4 last-of-type:mb-0"><a class="text-base" href="#">Nuestras tiendas</a></li>
          <li class="mb-4 last-of-type:mb-0"><a class="text-base" href="#">Quiero ser financiado</a></li>
          <li class="mb-4 last-of-type:mb-0"><a class="text-base" href="#">Anuncie aquí</a></li>
        </ul>
      </div>
      <div class="mt-8 flex-grow-[2] md:mt-0" data-contact-container>
        <p class="text-xl font-bold text-neutral-700">Hable con nostros</p>
        <form class="mt-4 grid" data-contact>
          <label class="text-sm" for="name">Nombre</label>
          <input class="border-none mt-2 mb-4 rounded-sm p-4" type="text" id="name" placeholder="ej. Alexander Pozas">
          <label class="text-sm" for="message">Mensaje</label>
          <textarea class="rounded-sm mt-2 p-4" id="message" cols="10" rows="5" placeholder="Escribe tu mensaje"></textarea>
          <input class="py-3 px-4 text-neutral-100 font-bold rounded-sm bg-indigo-600 mt-4 md:w-1/2 hover:bg-indigo-800" type="submit" value="Enviar mensaje"/>
        </form>
      </div>
    </div>
    </div>
    <div class="p-8 text-center bg-white">
      <p class="font-bold text-base">Desarrollado por Alexander Pozas 2023</p>
    </div>
  </footer>

  
  

</body>

</html>